<link rel="stylesheet" href="/style.css">

<footer class="footer">
  <div class="footer-row">
    <span>&copy; 2025, All rights reserved – Kamil Wierzbinski</span>
    <a href="/contact">{{#t}}Contact us{{/t}}</a>
  </div>
</footer>
